body {
	background-color: rgb(22, 15, 34);
	font-family: 'Source Sans Pro', sans-serif;
	transition: ease-in-out .1s;
	-webkit-transition: ease-in-out .1s;
	-moz-transition: ease-in-out .1s;
	-ms-transition: ease-in-out .1s;
	-o-transition: ease-in-out .1s;
}

.lightmode {
	background-color: rgb(250, 253, 252);
}


.headrow {
	margin-top: 55px;
	margin-bottom: 77px;
}


.headtitle {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-weight: 400;
	-webkit-text-fill-color: rgba(113, 175, 183, 0);
	-webkit-text-stroke: 1px;
	font-size: 133px;
	padding-left: 88px;
	filter: drop-shadow(0px 0px 3px #ffffff);
	-webkit-filter: drop-shadow(0px 0px 3px #ffffff);
}

#link {
	text-decoration: none;
	color: rgb(149, 228, 149);
}

.lightmode .headtitle {
	/*-webkit-text-fill-color: rgb(113, 175, 183);
	*/-webkit-text-stroke: 1.5px;
	
	
}

.lightmode #link {
	text-decoration: none;
	color: rgb(0, 89, 255);
	filter: drop-shadow(0px 0px 3px #0037ff);
	-webkit-filter: drop-shadow(0px 0px 3px #0037ff);
}

@media (max-width: 1096px) {
	.headtitle {
		font-size: 99px;
	}
}

@media (max-width: 756px) {
	.headtitle {
		font-size: 93px;
		padding: 0px;
		text-align: center;
	}

	.searchdiv {
		text-align: center;
		padding-right: 0px;

	}

	.form {
		text-align: center;
		margin-top: 53px;
	}
}

@media (max-width: 420px) {
	.headtitle {
		font-size: 77px;
	}
}

.searchdiv {
	margin: auto;
	text-align: right;
	padding-right: 88px;
}

.lightmodetog {
	margin: auto;
	text-align: center;
}

#toggle{
	background-color: rgb(117, 60, 182);
	border: none;
	padding: 12px 22px;
	font-size: 18px;
	font-weight: 500;
	color: white;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}




#search {
	margin-right: 8px;
	height: 55px;
	width: 77%;
	color: rgb(132, 201, 168);
	font-size: 18px;
	font-weight: 600;
	padding: 12px 18px;
	border: 1.3px solid rgb(96, 47, 181);
	background-color: rgba(232, 246, 255, 0.041);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}

.lightmode #search {
	border: 1px solid rgb(123, 148, 220);
	background-color: rgb(232, 246, 255);
}

#search:hover {
	background-color: rgb(252, 222, 70);
	border: 1px solid rgb(255, 170, 0);
	border-radius: 17px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	-ms-border-radius: 17px;
	-o-border-radius: 17px;
}

#search:focus {
	background-color: rgb(34, 34, 34);
	border: 1px solid rgb(0, 0, 0);
	border-radius: 44px;
	color: white;
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	-webkit-border-radius: 44px;
	-moz-border-radius: 44px;
	-ms-border-radius: 44px;
	-o-border-radius: 44px;
}





#btnSearch {
	width: 50px;
	padding-bottom: 4px;
	font-size: 19px;
	border-radius: 33px;
	color: rgb(146, 125, 193);
	border: 1px solid rgb(96, 47, 181);
	background-color: rgba(232, 246, 255, 0.041);
	aspect-ratio: 1/1;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	-ms-border-radius: 33px;
	-o-border-radius: 33px;
}

.lightmode #btnSearch {
	color: rgb(65, 114, 187);
	border: 1px solid rgb(123, 148, 220);
	background-color: rgb(232, 246, 255);
}

#btnSearch:hover {
	background-color: rgb(252, 222, 70);
	border: 1px solid rgb(255, 170, 0);
	color: rgb(49, 68, 135);
	transition: all .6s ease;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	-o-transition: all .6s ease;
}

#btnSearch:active {
	background-color: rgb(41, 41, 41);
	color: white;
	border: 1px solid rgb(0, 0, 0);
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
}






.results {
	margin-top: 55px;
	margin-bottom: 77px;
}


.card {
	background-color: rgb(20, 16, 27);
	border: none;
	border-radius: 5px;
	margin: 15px;
	padding: 18px;
	box-shadow: 0px 4px 25px #823cfccf;
	border-radius: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.lightmode .card {
	background-color: rgb(251, 255, 255);
	box-shadow: 0px 7px 22px #7e979637;
}

.image {
	border-radius: 2px;
	object-fit: cover;
	object-position: center center;
	/* width: 100%; */
	/* height: 100%; */
	aspect-ratio: 1/1;
}

.caption {
	margin: 24px 2px;
	font-weight: 500;
	font-size: 22px;
	color: rgb(143, 191, 201);
}

.lightmode .caption {
	color: rgb(100, 115, 121);
}


.footer {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: rgb(17, 17, 17);
	background-position: bottom;
	background-size: 15px 33px;
	background-repeat: repeat-x;
}

.lightmode .footer {
	background-color: rgba(218, 227, 235, 0.225);
}


#footerdivleft {
	width: 100%;
	text-align: right;
	color: rgb(140,
			135,
			176);
	font-weight: 300;
	font-size: 18px;
}

#footeravatar {
	width: 66px;
}

#footerdivright {
	width: 100%;
	text-align: left;
	color: rgb(140, 135, 176);
	font-weight: 300;
	font-size: 18px;
}